[Unit]
Description=MicroServiceBus as a Service

[Service]
ExecStart=/usr/bin/microservicebus-py
WorkingDirectory=@MSB_PY_WORK_DIR@
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=python
User=@MSB_PY_USER@
Group=@MSB_PY_GROUP@
Environment=PATH=/usr/bin:/usr/local/bin:/bin/:/usr/local/sbin:/usr/sbin:/sbin
Environment=MSB_PLATFORM=YOCTO
Environment=MSB_HOST=@MSB_PY_HOST@

[Install]
WantedBy=multi-user.target
